<div class="container">
  <h2>Analyze Tweets</h2>
  <p>Run the MonkeyLearn analytics on the tweet table</p>

  <%= form_tag('/labels/create')do %>
    <%= button_tag(:class => 'btn') do %>
      <i class="fa fa-twitter"></i> &nbsp; Get Latest!
    <% end %>
  <% end %>

  <%= form_tag('/api/categories/rank_tags')do %>
    <%= button_tag(:class => 'btn') do %>
      <i class="fa fa-twitter"></i> &nbsp; BAM!
    <% end %>
  <% end %>


</div>
