<div class="container">
  <h1>Tweets</h1>
  <p>Show all the tweets in the db</p>

  <% @tweets.each do |tweet| %>

      <%= tweet.id%>
      <%= tweet.content%>
      <%= tweet.created%>
      <br>

  <% end %>
</div>