<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <a class="waves-effect waves-light btn" href="https://twitter.com/hash_robot" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @hash_robot</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          <!--<li> <%= link_to 'Analyze Tweets', new_label_path,'class' => 'grey-text text-lighten-3'%> </li>-->
          <a class="waves-effect waves-light btn" href="mailto:hashrobot.dtla@gmail.com">Email Us!</a>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2015 HashRobot
    </div>
  </div>
</footer>
