<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">#Robot Creators</h5>
        <a class="grey-text text-lighten-4" href="http://ryansmith.io">Ryan Smith</a>
        <br/>
        <a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/jeffreydemers">Jeff Demers</a>
        <br/>
        <a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/christophertwu">Chris Wu</a>
        <br/>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li> <%= link_to 'Welcome', root_path,'class' => 'grey-text text-lighten-3'%> </li>
          <li> <%= link_to 'New Tweet', new_tweet_path,'class' => 'grey-text text-lighten-3'%> </li>
          <li> <%= link_to 'Dashboard', dashboard_path,'class' => 'grey-text text-lighten-3'%> </li>
          <a class="waves-effect waves-light btn" href="https://twitter.com/hash_robot" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @hash_robot</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          <!--<li> <%= link_to 'Analyze Tweets', new_label_path,'class' => 'grey-text text-lighten-3'%> </li>-->
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2015 Hash Robot, Inc.
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>