<h2><%=	image_tag 'hashrobot_sm.png' %> Welcome to #Robot</h2>

<div>
  <p>Choosing the right hashtags can be hard.  Let #Robot do the heavy lifting for you.</p>
  <p><%=	image_tag 'hashrobot.png' %></p>
</div>

