<div class="container">
  <h2>About #Robot</h2>

  <h4>Purpose</h4>
  <p>
    #Robot will give the user the best hast tag choices based on a chosen category.
    Users can then tweet right from the application with the suggested hash tags.
  </p>

  <h4>Design</h4>
  <p>
    #Robot is designed to ingest large numbers of tweets from Twitter's API.
    It then passes them to the Monkey Learn API to get the relevant category for a particular tweet.
    It then finds the most used hash tags for a particular category and returns those to a user upon request.
  </p>

  <h4>Creators</h4>
  <p>
    #Robot was created by Ryan Smith, Jeff Demers, and Chris Wu
    while taking General Assembly's 12-week Web Development Immersive program.
  </p>
</div>

