<div class="container">
  <h3 class="center">Welcome to the #Board</h3>
  <div class="result"></div>

  <!-- Dropdown Trigger -->
  <a class='dropdown-button btn' href='' data-activates='dropdown1' id="category-dropdown">Pick a Category</a>

  <!-- Dropdown Structure -->
  <div class="category-picker">
    <ul id='dropdown1' class='dropdown-content'></ul>
  </div>

  <div class="tag-results"></div>

  <% if current_user %>
    <div class="tweet-box">
      <%= form_tag('/tweets/create')do %>
        <%= text_field_tag :tweet_body, nil, :placeholder => "Enter tweet here" %>
        <%= button_tag(:class => 'btn') do %>
         <i class="fa fa-twitter tooltipped" data-position="top" data-delay="5" data-tooltip="Send a tweet!"></i> &nbsp; Tweet!
        <% end %>
      <% end %>
    </div>
    <br>
  <% end %>


</div>
