<h2><%=	image_tag 'hashrobot_sm.png' %> Welcome to #Robot</h2>
<%=	link_to 'Twitter', '/auth/twitter' %>
<div>
  <p>Choosing the right hashtags can be hard.  Let #Robot do the heavy lifting for you.</p>
  <p><%=	image_tag 'hashrobot.png' %></p>
</div>
<div>
  Materialize check:
  <a class="waves-effect waves-light btn"><i class="mdi-file-cloud left"></i>button</a>
</div>

