<div class="parallax-container">

  <div class="main-home">
      <h3>#Robot</h3>
      <p>Choosing the right hashtags can be hard.  Let #Robot do the heavy lifting for you.</p>
      <% if current_user %>
        <%= link_to 'Log Out', logout_path, method: :delete, 'class' => 'waves-effect waves-light btn welcome-btn' %>
      <% else %>
        <%= link_to 'Login with Twitter', '/auth/twitter', 'class' => 'waves-effect waves-light btn welcome-btn' %>
      <% end %>
  </div>

  <div class="parallax"><%=	image_tag 'colorful-robots.jpg' %></div>
</div>
<div class="section info">
  <div class="row container">

        <div class = row>
          <div class="col s12 m4 center">
            <h4 class="main_title">Purpose</h4>
                <p class="about">#Robot will give the user the best hast tag choices based on a chosen category. Users can then tweet right from the application with the suggested hash tags.
                </p>
          </div>
          <div class="col s12 m4 center">
            <h4 class="main_title">Design</h4>
                <p class="about"> #Robot is designed to ingest large numbers of tweets from Twitter's API.
                    It then passes them to the Monkey Learn API to get the relevant category for a particular tweet.
                    It then finds the most used hash tags for a particular category and returns those to a user upon request.
                </p>
          </div>
          <div class="col s12 m4 center">
            <h4 class="main_title">Creators</h4>
                <p class="about"> #Robot was created by Ryan Smith, Jeff Demers, and Chris Wu while taking General Assembly's 12-week Web Development Immersive program.
                </p>
          </div>
        </div>
  </div>
</div>
      <div class="parallax-container">
        <div class="parallax"><%=	image_tag 'robot_new_black.png' %></div>
      </div>





