.creators {
  background: black;
  border: 5px solid #00B4BF;
  width: 200px; // These are your circle dimensions
  height: 200px;
  border-radius: 50%;
  background-position: center center; // Center image in the circle
  padding-top: 20px;
}
.name {
  color: white;
}

#category-dropdown {
  display: block;
}

.tweet-box {
  margin-top: 200px;
}

.tag-results {
  width: 200px;
}

.main-home {
  width: 700px;
  margin: 0 auto;
  color: black;
  margin-top: 75px;
  background-color: white;
  opacity: 0.95;
  padding: 30px;
  border-radius: 10px;
}

.welcome-btn > a {
  color: white;
}

.parallax-container {
  height: 300px;
}

.parallax-container1 {
  height: 100px;
}

.about{
  color: white;
  font-size: 20px;
}

.main_title{
  color: white;
}

.info {
  background-color: #FC8E2D;
}

.jumbotron {
  background: rgba(255, 255, 255, 0.7);
}

.jumbotron-header, h4 {
  font-family: 'Play', sans-serif;
}

h5, p, a  {
  font-family: 'Exo', sans-serif;
}