

#category-dropdown {
  display: block;
}

.tweet-box {
  margin-top: 200px;
}

.tag-results {
  width: 200px;
}

.main-home {
  width: 700px;
  margin: 0 auto;
  color: black;
  margin-top: 75px;
  background-color: white;
  opacity: 0.95;
  padding: 30px;
  border-radius: 10px;
}

.welcome-btn {
  margin-left: 120px;
}

.parallax-container {
  height: 300px;
}

.about{
  color: white;
  font-size: 20px;
}

.main_title{
  color: white;
}

.info {
  background-color: #FC8E2D;
}