<div class="container">
  <h2>Create a HTTP Request to Monkey Learn</h2>
  <p>Input the text you would like to get a category for.</p>
  <%= form_tag '/categories/create' do %>
    <%= text_field(:request, :text_list) %>
    <div><%= submit_tag 'Submit for Processing', 'class' => 'btn' %></div>
  <% end %>
</div>
